.blueSquare{
    width :100px;
    height: 100px;
    background-color: #0d6efd;
}
.redSquare{
    width :100px;
    height: 100px;
    background-color: red;
}
.margin_left{
    margin-left:1250px;
}
.margin-center{
    margin-left: 650px;
}
.haf-high{
    width:100%;
    height: 600px;
}
.fix-center{
    margin-left: 400px;
}
.fix-top{
    margin-top: 90px;
}
